<p>
    La <strong>Tierra</strong> es el tercer planeta del Sistema Solar (contando en orden de distancia de los ocho planetas al Sol),
   y el quinto de ellos según su tamaño. Está situada a unos 150 millones de kilómetros del Sol. Hasta 2009, es el 
   único planeta en el que se conoce la existencia de vida. La Tierra se formó al mismo tiempo que el Sol y el resto 
   del Sistema Solar, hace unos 4570 millones de años. El volumen de la Tierra es más de un millón de veces menor que 
   el Sol y la masa de la Tierra es nueve veces mayor que la de su satélite, la Luna. La temperatura media de la 
   superficie terrestre es de unos 15 °C. En su origen, la Tierra pudo haber sido sólo un agregado de rocas incandescentes
   y gases.
</p>
  
<p>
    A la forma de la Tierra (entendida como la altura media del mar o que adoptaría el mar en los continentes) se le denomina 
   geoide. El geoide es una superficie similar a una esfera achatada por los polos (esferoide). Su diámetro es de unos 12 700 km.
   Al conjunto de disciplinas que estudian los procesos de diversas escalas temporal y espacial que gobiernan este planeta se 
   le llama <strong>geociencias</strong> o ciencias de la Tierra. 
</p>

<p>
    El 71% de la superficie de la Tierra está cubierta de <strong>agua</strong>. Es el único planeta del sistema solar donde el agua puede existir
   permanentemente en estado líquido en la superficie. El agua ha sido esencial para la vida y ha formado un sistema de circulación
   y erosión único en el Sistema Solar.
</p>

<p>
    La Tierra es el único de los cuerpos del Sistema Solar que presenta una tectónica de placas activa: Marte y Venus quizás tuvieron 
   una tectónica de placas en otros tiempos pero, en todo caso, se ha detenido. Esto, unido a la erosión y la actividad biológica,
   ha hecho que la superficie de la Tierra sea muy joven, eliminando por ejemplo, casi todos los restos de cráteres, que marcan muchas 
   de las superficies del <strong>Sistema Solar</strong>.  
</p>

<p>
     La Tierra posee un único satélite natural, la Luna. El sistema <strong>Tierra-Luna</strong> es bastante singular, debido al gran tamaño relativo 
    del satélite. Uno de los aspectos particulares que presenta la Tierra es su capacidad de homeostasis que le permite recuperarse 
    de cataclismos a mediano plazo.
</p>

   

